<h1>Kevin's Writer Assistant</h1>
<p>
	Bienvenue sur l'assistant à la création de best-seller !
</p>
<%= link_to "Créer Chapitre", new_chapitre_path, :class => "signup_button round" %>
<%= link_to "Créer Scene", new_scene_path, :class => "signup_button round" %>
<%= link_to "Créer Personnage", new_personne_path, :class => "signup_button round" %>
<%= link_to "Créer Anecdote", new_anecdote_path, :class => "signup_button round" %>