<footer>
	<nav class="round">
		<ul>
			<li>Base de données acuelle : </li>
			<li><%= Chapitre.count %> chapitres, </li>
			<li><%= Scene.count %> scenes, </li>
			<li><%= Anecdote.count %> anecdotes, </li>
			<li><%= Personne.count %> personnages.</li>
		</ul>
	</nav>
</footer>